@import 'colors';

nav {
  h1 {
    font: bold 14px "Montserrat";
    color: #333;
    text-transform: uppercase;

    padding: 0 10%;
  }

  ul {
    margin-bottom: 50px;
    padding: 0 10%;

    &.favorites {
      li i { color: red; }
    }

    li {
      font: 500 18px "Source Sans Pro";
      color: #333;

      align-items: center;
      cursor: pointer;
      display: flex;
      margin: 20px 0;
      list-style: none;

      i.material-icons {
        font-size: 20px;
        margin-right: 20px;
      }

      &:hover {
        color: $primary-highlight;
      }
    }
  }
}
