<app-top-bar [navigationDrawer]="navigationDrawer"></app-top-bar>
<app-drawer #navigationDrawer>
  <app-user></app-user>
  <nav>
    <ul>
      <li>
        <i class="material-icons">home</i>
        Home
      </li>
      <li>
        <i class="material-icons">settings</i>
        Settings
      </li>
    </ul>
  </nav>
</app-drawer>
<app-extendable-fab>
  <button class="fab">
    <i class="material-icons">favorite</i>
  </button>
  <button class="fab">
    <i class="material-icons">grade</i>
  </button>
  <button class="fab">
    <i class="material-icons">lightbulb_outline</i>
  </button>
</app-extendable-fab>
<app-card *ngFor="let card of dummyCards; let i = index">
  <div class="header">
    <div class="image" *ngIf="i % 2 == 0">
      <img src="assets/bg.jpg" width="100%">
    </div>
    <h1>{{ card.title }}</h1>
  </div>
  <div class="content">
    <div class="organizer">
      <div class="flex two-thirds">
        <div class="img">
          <img src="assets/bg.jpg" alt="" height="100%">
        </div>
        <div class="info">
          <p>
            by <strong>inovex</strong>
          </p>
          <small>
            3 days ago
          </small>
        </div>
      </div>
      <button class="primary">
        RSVP
      </button>
    </div>
    <div class="meta">
      <div class="third">
        <strong>Date</strong>
        Fri, May 26th
      </div>
      <div class="third">
        <strong>Location</strong>
        Karlsruhe, DE
      </div>
      <div class="third">
        <strong>RSVPs</strong>
        86 are going
      </div>
    </div>
    <div class="summary">
      <strong>Summary</strong>
      <p>{{ card.content }}</p>
    </div>
  </div>
  <div class="footer">
    <button class="secondary">details</button>
  </div>
</app-card>
